@import "./merriweather";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

$font-family: "Merriweather", sans-serif;
$font-family: "Roboto Serif", sans-serif;

:root {
  --font-family: #{$font-family};
  --font-size-heading: 1.2rem;
  --spacing: 0.5rem;
  --border-radius: 0.3rem;
  --border-width: 1px;
  --animation-speed: 150ms;
  --pwacompat-splash-font: 24px var(--font-family);

  --color-text: #efefef;
  --color-background: #1b1b1d;

  @media (prefers-color-scheme: light) {
    --color-text: #222;
    --color-background: #eeeeee;
  }

  --color-background--transparent: color-mix(
    in lch,
    var(--color-background),
    transparent 5%
  );
  --color-primary: #fdc50d;
  --color-primary-100: #{color-mix(in lch, var(--color-primary), var(--color-text) 10%)};
  --color-primary-500: #{color-mix(in lch, var(--color-primary), var(--color-text) 15%)};
  --color-primary-900: #{color-mix(in lch, var(--color-primary), var(--color-text) 20%)};
  --color-accent-100: #{color-mix(in lch, var(--color-background), var(--color-text) 10%)};
  --color-accent-200: #{color-mix(in lch, var(--color-background), var(--color-text) 15%)};
  --color-accent-300: #{color-mix(in lch, var(--color-background), var(--color-text) 20%)};
  --border-color: var(--color-accent-300);
  --shadow: 0 3px 3px #{rgba(black, 0.2)};
}

html {
  font-size: 120%;
  font-family: var(--font-family);
}

html,
body {
  background-color: var(--color-background);
  color: var(--color-text);
  height: 100%;
}

svg,
img,
video {
  max-width: 100%;
  height: auto;
  display: block;
  fill: currentColor;
}

button {
  background-color: transparent;
  border: none;
  color: currentColor;
  cursor: pointer;
  touch-action: manipulation;
  font-size: 1em;
  font-family: inherit;
}

input {
  font-family: inherit;
  font-size: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  & + & {
    padding-top: 0.6em;
  }
}

a {
  color: var(--color-primary);
}
