@import "@fontsource-variable/merriweather";

*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --gutter: 0.8em;
  --spacing: 2em;
  --border-radius: 0.3em;
  --font-family: "Merriweather Variable", serif;

  --color-text: #d8d8d8;
  --color-background: #1b1b1c;
  --color-primary: oklch(84.495% 0.16982 88.075);
  --color-primary-text: color-mix(
    in oklab,
    var(--color-primary),
    var(--color-background) 90%
  );
  --color-secondary: oklch(87.51% 0.23804 150.031);
  --color-accent: color-mix(in oklab, var(--color-background), white 8%);
  --color-error: oklch(54.67% 0.22096 28.886);
  --color-error-text: oklch(from var(--color-error) calc(l / l) c h);
}

:root.is-theme-light {
  --color-primary: oklch(63.334% 0.13775 62.04);
  --color-secondary: oklch(87.51% 0.23804 150.031);
  --color-background: #d3cfcb;
  --color-accent: color-mix(in oklab, var(--color-background), black 5%);
  --color-text: #202020;

  --color-error: oklch(51.124% 0.20409 28.622);
}

html {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-family);
  font-size: 100%;
}

body {
  background-size: 3em 3em;
  background-image:
    linear-gradient(
      to right,
      color-mix(in oklab, var(--color-accent), transparent 70%) 1px,
      transparent 1px
    ),
    linear-gradient(
      to bottom,
      color-mix(in oklab, var(--color-accent), transparent 70%) 1px,
      transparent 1px
    );
}

button {
  font: inherit;
  color: inherit;
  border: none;
  background-color: transparent;
  padding: 0;
}

select,
input {
  font: inherit;
  color: inherit;
  border: none;
  background: transparent;
  padding: 0;
}

option {
  font-family: var(--font-family);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

::selection {
  background-color: color-mix(in oklab, var(--color-primary), transparent 70%);
}
